.scrollup {
  position: fixed;
  right: 4rem;
  bottom: -20%;
  background-color: var(--title-color);
  opacity: 0.8;
  padding: 0.48rem 0.8rem;
  border-radius: 0.64rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
}

.scrollup__icon {
  font-size: 2.4rem;
  color: var(--container-color);
}

.scrollup:hover {
  background-color: var(--title-color-dark);
}

/* Show Scroll */
.show-scroll {
  bottom: 4.8rem;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 62em) {
  .scrollup {
    right: 2.4rem;
    padding: 0.4rem 0.64rem;
  }

  .scrollup__icon {
    font-size: 2rem;
  }
}

@media screen and (max-width: 48em) {
  .show-scroll {
    bottom: 6.4rem;
  }
}

@media screen and (max-width: 21.87em) {
  .scrollup {
    right: 1.6rem;
  }
}
