.about__container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 6.2rem;
}

.about__img {
  width: 35rem;
  border-radius: 2.4rem;
  justify-self: center;
}

.about__info {
  display: grid;
  grid-template-columns: repeat(3, 14rem);
  gap: 0.8rem;
  margin-bottom: var(--mb-2);
}

.about__box {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.2rem;
  text-align: center;
  padding: 1.6rem 2rem;
}

.about__icon {
  font-size: 2.4rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-5);
}

.about__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.about__subtitle {
  font-size: var(--smaller-font-size);
}

.about__description {
  padding: 0 6.2rem 0 0;
  margin-bottom: var(--mb-2-5);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 62em) {
  .about__container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
  }

  .about__img {
    width: 22rem;
  }

  .about__box {
    padding: 1.2rem 0.8rem;
  }

  .about__data {
    text-align: center;
  }

  .about__info {
    justify-content: center;
  }

  .about__description {
    padding: 0 8rem;
    margin-bottom: 3.2rem;
  }
}

@media screen and (max-width: 36em) {
  .about__info {
    grid-template-columns: repeat(3, 1fr);
  }

  .about__description {
    padding: 0;
  }
}

/* For small devices */
@media screen and (max-width: 21.87em) {
  .about__info {
    grid-template-columns: repeat(2, 1fr);
  }
}
