.home {
  &Social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1.6rem;

    @media screen and (max-width: 48em) {
      grid-column: 2 / -1;
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 36em) {
      grid-column: 1 / span 1;
      grid-template-columns: max-content;
    }
  }

  &SocialIcon {
    font-size: 2rem;
    color: var(--title-color);

    @media screen and (max-width: 48em) {
      justify-self: center;
    }

    @media screen and (max-width: 36em) {
      justify-self: initial;
    }

    &:hover {
      color: var(--title-color-dark);
    }
  }
}
