.testimonial__container {
  width: 750px;
}

.testimonial__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.4rem 3.2rem;
  border-radius: 2.4rem;
  margin-bottom: var(--mb-3);
}

.testimonial__img {
  width: 6rem;
  border-radius: 4.8rem;
  margin-bottom: var(--mb-1);
}

.testimonial__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-25);
}

.testimonial__description {
  font-size: var(--small-font-size);
}

/* Swiper Class */
.swiper-pagination-bullet {
  background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--title-color) !important;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 62em) {
  .testimonial__container {
    width: initial;
  }

  .testimonial__card {
    padding: 2rem 2.4rem;
  }
}

/* @media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
} */
