.work__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 4.8rem;
  justify-content: center;
}

.work__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1.6rem;
}

.work__img {
  width: 29.5rem;
  border-radius: 1.6rem;
  margin-bottom: var(--mb-1);
}

.work__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
}

.work__button {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.work__button-icon {
  font-size: 1.6rem;
  transition: 0.4s;
}

.work__button:hover .work__button-icon {
  transform: translateX(0.4rem);
}

/* Active Wrok */
.active-work {
  background-color: var(--title-color);
  color: var(--container-color);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 62em) {
  .work__card {
    gap: 2rem;
  }

  .work__card {
    padding: 1.6rem;
  }

  .work__img {
    margin-bottom: 1.2rem;
  }

  .work__title {
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width: 48em) {
  .work__container {
    grid-template-columns: max-content;
  }
}

@media screen and (max-width: 36em) {
  .work__container {
    grid-template-columns: 1fr;
  }

  .work__img {
    width: 100%;
  }
}

@media screen and (max-width: 21.87em) {
  .work__item {
    font-size: var(--small-font-size);
  }

  .work__filters {
    column-gap: 0.4rem;
  }
}
