@import "../../App.scss";

.workCard {
  border-radius: 1.6rem;
  position: relative;
  // width: 59.4rem;
  height: 45rem;
  cursor: pointer;
  padding: 2rem 4rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
  color: var(--color-white);

  display: grid;
  align-items: center;

  @media screen and (max-width: $bp-largest) {
    height: 35rem;
  }

  @media screen and (max-width: 36em) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 31.25em) {
    height: 30rem;
    padding: 1rem;
  }

  .workImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    margin-bottom: var(--mb-1);
    z-index: -1;
    filter: blur(0.2rem);
  }

  h1 {
    position: absolute;
    top: -8rem;
    font-size: 16rem;
    font-weight: 700;
    color: var(--color-white);
    background: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $bp-largest) {
      top: -6rem;
      font-size: 12rem;
      font-weight: 700;
    }

    @media screen and (max-width: 36em) {
      font-size: 10rem;
    }

    @media screen and (max-width: 31.25em) {
      display: none;
    }

    &.right {
      right: -3rem;

      @media screen and (max-width: $bp-largest) {
        right: -2rem;
      }
    }

    &.left {
      left: -3rem;

      @media screen and (max-width: $bp-largest) {
        left: -2rem;
      }
    }
  }

  .workTitle {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--color-white);
    align-self: end;
  }

  p {
    font-size: 1.8rem;
    width: 80%;
    opacity: 0.8;

    @media screen and (max-width: $bp-largest) {
      font-size: var(--normal-font-size);
    }

    @media screen and (max-width: 36em) {
      font-size: var(--small-font-size);
      width: 100%;
    }
  }

  ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, min-content);
    gap: 1rem;

    @media screen and (max-width: $bp-largest) {
      grid-template-columns: repeat(3, min-content);
    }

    @media screen and (max-width: 31.25em) {
      grid-template-columns: repeat(6, min-content);
      grid-template-rows: 1fr;
    }

    li {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;

      @media screen and (max-width: 36em) {
        font-size: var(--small-font-size);
      }

      span {
        display: grid;
        align-items: center;
      }

      p {
        width: 100%;
        opacity: 1;

        @media screen and (max-width: 31.25em) {
          display: none;
        }
      }
    }
  }

  .workIcon {
    width: 2.5rem;
    height: 2.5rem;

    @media screen and (max-width: 36em) {
      width: 2rem;
      height: 2rem;
    }

    @media screen and (max-width: 31.25em) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .workButton {
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    font-weight: var(--font-semi-bold);
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    column-gap: 1rem;

    @media screen and (max-width: $bp-largest) {
      padding: 0.5rem 1.2rem;
    }

    @media screen and (max-width: 36em) {
      font-size: var(--small-font-size);
    }

    @media screen and (max-width: 31.25em) {
      font-size: var(--smaller-font-size);
      column-gap: 0.5rem;
      padding: 0.25rem 0.7rem;
    }

    .copyIcon {
      width: 2rem;
      height: 2rem;

      @media screen and (max-width: 31.25em) {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}

.workCardLeft {
  grid-column: 1 / span 7;

  .workTitle,
  p,
  ul,
  .workButton {
    justify-self: start;
  }
}

.workCardRight {
  grid-column: 2 / -1;

  .workTitle,
  p,
  ul,
  .workButton {
    justify-self: end;
  }

  p {
    text-align: right;
  }
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: $bp-largest) {
  .workCardLeft,
  .workCardRight {
    grid-column: 2 / span 6;
  }
}

@media screen and (max-width: 48em) {
  .workCardLeft,
  .workCardRight {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 31.25em) {
  .workCardLeft,
  .workCardRight {
    .workTitle,
    p,
    ul,
    .workButton {
      justify-self: start;
    }

    p {
      text-align: left;
    }
  }
}
