.workCard {
  border-radius: 1.6rem;
  position: relative;
  width: 59.4rem;
  height: 33.4rem;
  cursor: pointer;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
}

.workCardLeft {
  grid-column: 1 / span 5;
}

.workCardRight {
  grid-column: 4 / span 5;
}

.workImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.6rem;
  margin-bottom: var(--mb-1);
  z-index: -1;
}

.workTitle {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-5);
  color: var(--color-white);
}

.workButton {
  color: var(--text-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: 0.4rem;
}

.workButtonIcon {
  font-size: 1.6rem;
  transition: 0.4s;
}

.workButton:hover .workButtonIcon {
  transform: translateX(0.4rem);
}

/* Active Wrok */
.activeWork {
  background-color: var(--title-color);
  color: var(--container-color);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: 62em) {
  .workCard {
    gap: 2rem;
  }

  .workCard {
    padding: 1.6rem;
  }

  .workImg {
    margin-bottom: 1.2rem;
  }

  .workTitle {
    margin-bottom: 0.4rem;
  }
}

@media screen and (max-width: 36em) {
  .workImg {
    width: 100%;
  }
}

@media screen and (max-width: 21.87em) {
  .workItem {
    font-size: var(--small-font-size);
  }

  .workFilters {
    column-gap: 0.4rem;
  }
}
