@import "../../App.scss";

.workCard {
  border-radius: 1.6rem;
  position: relative;
  // width: 59.4rem;
  height: 45rem;
  cursor: pointer;
  padding: 2rem 4rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.5);
  color: var(--color-white);

  display: grid;
  align-items: center;

  .workImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.6rem;
    margin-bottom: var(--mb-1);
    z-index: -1;
    filter: blur(0.2rem);
  }

  h1 {
    position: absolute;
    top: -8rem;
    font-size: 16rem;
    font-weight: 700;
    color: var(--color-white);
    background: none;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    &.right {
      right: -3rem;
    }

    &.left {
      left: -3rem;
    }
  }

  .workTitle {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--color-white);
    align-self: end;
  }

  p {
    font-size: 1.8rem;
    width: 80%;
    opacity: 0.8;
  }

  ul {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, min-content);
    gap: 1rem;

    li {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, max-content);
      gap: 0.5rem;

      span {
        display: grid;
        align-items: center;
      }
    }
  }

  .workIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .workButton {
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: 10rem;
    font-weight: var(--font-semi-bold);
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    column-gap: 1rem;

    .copyIcon {
      width: 2rem;
      height: 2rem;
    }
  }

  @media screen and (max-width: $bp-largest) {
    height: 35rem;

    h1 {
      top: -6rem;
      font-size: 12rem;
      font-weight: 700;

      &.right {
        right: -2rem;
      }

      &.left {
        left: -2rem;
      }
    }

    p {
      font-size: var(--normal-font-size);
    }

    ul {
      grid-template-columns: repeat(3, min-content);
    }

    .workButton {
      padding: 0.5rem 1.2rem;
    }
  }
}

.workCardLeft {
  grid-column: 1 / span 7;

  .workTitle,
  p,
  ul,
  .workButton {
    justify-self: start;
  }
}

.workCardRight {
  grid-column: 2 / -1;

  .workTitle,
  p,
  ul,
  .workButton {
    justify-self: end;
  }

  p {
    text-align: right;
  }
}

/*=============== BREAKPOINTS ===============*/
@media screen and (max-width: $bp-largest) {
  .workCardLeft,
  .workCardRight {
    grid-column: 2 / span 6;
  }
}
